form fieldset {
    margin: 10px auto 10px auto;
    width: 60%;
    border: solid black 1px;
    padding: 3%;
 }
 
 form legend {
    padding: 10px;
    margin: 15px;
    border: solid black 1px;
    font-size: 100%;
    font-weight: bold;
    background-color: #e8e8e8;
 }
 
 form label {
    display: block;
    font-size: 17px;
    margin-top: 2%;
 }
 
 form input {
    width: 100%;
    border: solid #ccc 1px;
    font-size: 17px;
    margin-bottom: 15px;
 }
 
 form input.botao {
    display: block;
    width: auto;
    float: left;
 }

 .boxx{
    background-color: #021bff;
    vertical-align: top;
    margin: 8px;
    padding: 11px;
    border: 7px #5e5e5e;
    border-radius: 16px;
    box-sizing: border-box;
 }

 .boxx p{
    text-align: justify;
 }